name: Rust

permissions:
  contents: write

on: push

env:
  CARGO_TERM_COLOR: always

jobs:
  build-macos:
    name: Build macOS (${{ matrix.os }})
    strategy:
      matrix:
        os: [ macos-14, macos-15, macos-26 ]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
    - name: Build
      if: ${{ !startsWith(github.ref, 'refs/tags/') }}
      run: cargo build
    - name: Bundle
      if: ${{ startsWith(github.ref, 'refs/tags/') }}
      run: ./bundle.sh aarch64-apple-darwin ${{ matrix.os }}
    - name: Release macOS assets
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          target/aarch64-apple-darwin/release/bundle/osx/X1Mk1-usb2midi_aarch64-apple-darwin_${{ matrix.os }}.zip
          DecksAB.tsi

  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libusb-1.0-0-dev libudev-dev libasound2-dev

      - name: Build
        run: cargo build --release

      - name: Package Linux
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          tar cf target/release/X1Mk1-usb2midi_linux_x86_64.tar target/release/x1-mk1-usb2midi

      - name: Release Linux Asset
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: target/release/X1Mk1-usb2midi_linux_x86_64.tar
